/************** signup ************/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

#wrapper {
  width: 50%;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.main-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  background-color: rgba(250, 250, 250);
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
}

.header img {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
}

.input-1,
.input-2 {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 2px;
}

.overlap-text {
  position: relative;
}

.overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
}

.sub-content {
  width: 250px;
  height: 40%;
  margin: 10px auto;
  border: 1px solid #e6e6e6;
  padding: 20px 50px;
  background-color: #fff;
}

.s-part {
  text-align: center;
}

.s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #3897f0;
  word-spacing: -3px;
  letter-spacing: -2px;
  font-weight: normal;
}

input:focus {
  background-color: lightgrey;
}

/**************************/

/*********** login *************/

body {
  background-color: #eee;
}

.btn {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

/**************************:

/****** HeaderPost et Log **********/

.header-posts {
  display: flex;
  justify-content: space-around;
}

.logo-header-log {
  height: 30px;
  padding-left: 20px;
  padding-bottom: 15px;
}

header {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 100%;
  padding-top: 20px;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
}

.publish {
  background-color: white;
  font-size: 1.2em;
  color: #008cba;
  border: 1px solid lightgrey;
  margin: 20px;
  transition-duration: 0.4s;
}
.publish:hover {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
}

.fa-plus-circle {
  padding-right: 10px;
  font-size: 0.9em;
  color: #008cba;
}
/*******************/

/*********** posts ***********/

.container-post {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: white;
  width: 50%;
  border: 1px solid rgba(219, 219, 219);
  border-radius: 2px;
}

.header-post {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-id,
.user_id {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 50%;
  width: 100px;
}

.time-post,
.id-post {
  padding: 10px;
  color: gray;
}

.image-post {
  width: 100%;
}

.post-content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.like-comments {
  display: flex;
}

.like,
.dislike,
.see-comments {
  background-color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.like:focus,
.dislike:focus,
.see-comments:focus {
  cursor: pointer;
}

.fa-thumbs-up,
.fa-thumbs-down,
.fa-comments {
  font-size: 1em;
}

.fa-thumbs-up {
  color: blue;
}

.fa-thumbs-down {
  color: red;
}

.fa-comments {
  color: green;
}
/********************/

/****** comments ********/
.container-comments {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: white;
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.button-comments {
  padding-top: 5px;
  border: none;
  text-align: center;
}

.post-text-area {
  padding: 2px;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 60%;
  margin: auto;
  background-color: lightgray;
}

.send-comment {
  background-color: #008cba;
  height: 30px;
  border: none;
  border-radius: 2px;
  color: white;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.display-comments {
  height: 50px;
  display: flex;
  padding-bottom: 15px;
}

.comment-content {
  padding: 10px;
  width: 60%;
  text-align: left;
  font-style: italic;
}

.update-comment,
.delete-comment {
  background-color: white;
  width: 50px;
  border: none;
  border-radius: 2px;
}

.update-comment:hover,
.delete-comment:hover {
  background-color: lightgrey;
  cursor: pointer;
}
/***************/

#custom-button {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}

.import-file {
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 30px;
}

/****** account ******/

.container-profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: white;
  width: 50%;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.header-profile {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.user-first_name,
.user-last_name,
.user-email,
.user-password {
  text-align: left;
  padding: 10px;
}

.button-profile {
  text-align: right;
}

.input {
  text-align: left;
  width: 80%;
  margin: auto;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 2px;
}

.add-post {
  margin: 5px;
}

.fa-pen, .fa-trash-alt, .fa-window-close, .fa-save {
  color: gray;
  font-size: 0.8em;
}

.lik-dis-com {
  display: flex;
}

/**************/
